<img class="logo" src="imgs/clarity-logo-full.png">

<div class="button-holder">
<%= link_to("Coaches Sign Up", new_coach_path, :class => "link-button") %>

<%= link_to("Coaches Log In", coach_login_path, :class => "link-button") %>

<%= link_to("Clients Log In", client_login_path, :class => "signup-button") %>
</div>