html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /*Primary Blue #0062B3*/
  /*Secondary Blue: #003663*/
}

body {
  background-image: url("/imgs/clarity-bg-mobile.png");
}

.header-logo {
  height: 40px;
  padding: 5px;
}